- var icon = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAABACAYAAABVy1Q8AAACf0lEQVRoQ+3bz4tNYRzH8deEIslGSaH8WmikhCxYWFDEShQL8gfYKMVCkYWUlPgLWCFWFiz8SCjFwijyY/KjsLBRyBQGfetM3TndceeZc85tRs93ee7z/X6e7znv55zn3vs5PZqLjdiDdZiLP3iPuziHW01I9zRQdH4x4fUdat/AXnyocw51N7QUtzF7lJP8iGj81SjHdxxWZ0Mz8BgLO6oOH/ASK/A9Ma/t8DobOoGDY5zUMRwZY+6wtHYNTcc8TE0QmISbmDlCTj9Ca9EIn3/GBvxO0PyJd/jWmtPa0DIcxyZMSSj8r6FxV9uKvmLQSlzFnJrqD+IaDuFp1BxqaDOuYFpNQkNlduJiqeZunK9ZZwDbcD0aCryiu1jUdccCvC0VXYK4EdQdX9AbDZ3FvrqrF/VW41Gp9lrca0jvTDT0GnEmm4gL2NVSOPQuF3g0odcfAnG3mFyq/qlYbGXRXqxKnMmdYn2G1o5iK5RS4iGetUnYglml4z9CJPZY5bg/gvABnEyZTQ1j9+N0mzoPsKZ0fDA3lK9QdeYycvmmUJ2ipAoZuRTk4htp7Ji7GbF1et7Uc6ibjXTSquXB2kmkm5/nhuL3tPEc+QrlK9RlPjNyGbmMXLUzkNdQXkPVCErOzshl5JKhqZaQkcvIVSMoOTsjl5FLhqZaQkYuI1eNoOTsjFxGLhmaagkZuYxcNYKSszNyGblkaKolZOQmLHLt7GVhOX5TjYjGs8NOXbaUDoQbK7xo8Xf9/xB90dDRujzT4+CMHI6Gwmv9BPHOwkSOWCLLh2zOYb0M/3M4hCdihPM4/OYvWo3ocaXCgrkdi9v4UMdbo7+Kl0Au4RS+xgT/AgKGEWYFfNScAAAAAElFTkSuQmCC'
if receipts
    span(class="mdl-chip" style="margin-left: 40px; max-width: 60%; overflow: hidden")
        if receipt
            span(class="mdl-chip__text" id="receipt-name")= receipt.name
        else
            span(class="mdl-chip__text" id="receipt-name") Select a pixel...
        ul(class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="receipt-name")
            each r in receipts
                a(href=`/track/${r.id}`)
                    li(class="mdl-menu__item")
                        span= r.name
        if receipt
            span(class="mdl-chip__text mdl-layout--small-screen-only" style="margin-left: 10px")
                span ｜Select: 
                span(style="position: relative; padding: 15px 30px 15px 30px")
                    span(style=`padding: 15px 30px 15px 30px; position: absolute; left: 0px; border: 1px dashed; background-repeat: no-repeat; background-position: 20px; background-size: 15px 20px; background-image: url("${icon}")`)
                    span(style="user-select: all; position: absolute; left: 0px;")
                        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        img(src=`/${receipt.id}.png`)
                        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            button(onclick=`copyToClipboard(${receipt.id})` style="margin-left: 1rem" class="mdl-button mdl-button--raised mdl-layout--large-screen-only") Copy
            span(class="mdl-chip__text mdl-layout--large-screen-only" style="margin-left: 10px")
                span | Or, select and copy the pixel:
                span(style="color: transparent; position: relative; padding: 15px 30px 15px 30px")
                    span(style=`padding: 15px 30px 15px 30px; position: absolute; left: 0px; border: 1px dashed; background-repeat: no-repeat; background-position: 20px; background-size: 15px 20px; background-image: url("${icon}")`)
                    span(style="user-select: all; position: absolute; left: 0px")
                        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        img(src=`/${receipt.id}.png`)
                        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;